<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="f-title">공지사항 상세</th:block>
<th:block layout:fragment="f-css">
    <style >
        strong{
            display: inline-block;
            width: 100px;
        }
    </style>
</th:block>
<th:block layout:fragment="f-script">
    <script th:inline="javascript">
        $( document ).ready( function () {
            $("#btnPostDelete").click(function(){
                if(confirm("삭제하시겠습니까?")){
                    $.ajax({
                        url:'/posts/[[ ${post.id} ]]',
                        type:'delete',
                        success: function(data) {
                            location.href = "/posts";
                        },
                        error: function(err) {
                            alert("삭제에 실패하였습니다. 다시 시도해 주세요.");
                        }
                    });
                }
            });
        });
    </script>
</th:block>

<div layout:fragment="f-content" class="content-div">
    <div class="container-fluid">
        <h1 class="mt-4" th:text="${post.title}"></h1>
        <strong>작성자</strong>
        <span th:text="${post.member.name}"></span>
        <br>
        <strong>작성일시</strong>
        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        <br>
        <strong>최종수정일시</strong>
        <span th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')?:'-'}">-</span>
        <hr>
        <div th:text="${post.contents}" style="min-height: 200px;overflow: auto;white-space: break-spaces;"></div>
        <hr>
    </div>
    <div style="padding: 10px;float: right;">
        <a href="/posts" class="btn btn-primary">목록</a>
        <th:block sec:authorize="hasAnyRole('ADMIN')">
        <a th:href="@{/posts/modify-form/{postId}(postId=${post.id})}" class="btn btn-secondary">수정</a>
        <button type="button" id="btnPostDelete" class="btn btn-danger">삭제</button>
        </th:block>
    </div>
</div>
</html>