<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="f-title">초기화면</th:block>
<th:block layout:fragment="f-css"> </th:block>
<th:block layout:fragment="f-script"> </th:block>

<div layout:fragment="f-content" class="content-div">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">메인화면</h1>
        </div>
        <p># 관리자 ID: admin@rsupport.com / PW: 1234</p>
        <p># 사용자 ID: cocodev@naver.com / PW: 1234</p>
    </div>
</div>
</html>