<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="f-title">로그인</th:block>
<th:block layout:fragment="f-css"> </th:block>
<th:block layout:fragment="f-script">
    <script th:inline="javascript">
        $( document ).ready( function () {
            $("#loginForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    email: "이메일을 입력해 주세요.",
                    password: "비밀번호를 입력해 주세요."
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                    element.addClass("is-invalid")
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".invalid-feedback").remove();
                    $(element).removeClass("is-invalid");
                }
            });
        });
    </script>
</th:block>

<div layout:fragment="f-content" class="content-div">
    <div class="justify-content-center" style="width: 500px">
        <form th:action="@{/login}" method="post" class="p-4" id="loginForm">
            <div th:if="${param.error}">
                <div class="alert alert-danger" role="alert">
                    아이디 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div class="form-group">
                <label for="loginEmail">이메일</label>
                <input type="email" name="email" class="form-control" id="loginEmail" placeholder="email@example.com" maxlength="50">
            </div>
            <div class="form-group">
                <label for="loginPassword">비밀번호</label>
                <input type="password" name="password" class="form-control" id="loginPassword" placeholder="password" maxlength="30">
            </div>
            <div style="padding: 10px;float: right;">
                <button type="submit" class="btn btn-primary">로그인</button>
                <a href="/signup" class="btn btn-success">회원가입</a>
            </div>
        </form>
    </div>
</div>
</html>